* {
  border: #da4167ff solid 1px;
}

img {
  width: 75px;

}
 
html {
  height: 100%;
  font-size: 2vw;
}

body {
  background-color: #2E4057;
  font-family: montserrat;
  color: #fdfffcff;

}

nav {
  background-color: #c191a1ff;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 1.75em;
  flex-basis: 2em;
  position: fixed;
  top: 1px;
  width: 100%;

}
  
a:hover {
  font-weight: bold;
  color: #da4167ff;
}

a {
  color: #fdfffcff;
  text-decoration: none;
  font-weight: bold;
  font-size: 1em;
  
}

h1 {
  font-family: pacifico; 
  color: rgb(190, 207, 182);
  font-size: 5em;
  text-align: center;
}

h2 {
  font-family: pacifico; 
  color: #fdfffcff;
  text-align: center;
  font-size: 3em;
  font-weight: normal;
  padding-top: .5em;
  margin-bottom: .25em;
  padding-bottom: 0;

}  

h3 {
  font-family: pacifico; 
  font-weight: normal;
  color: #c191a1ff;
  text-align: center;
  font-size: 2em; 
  margin: .5em;
  padding: 0;

}

#content {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  justify-self: center;

}

#socials {
  display: block;
  margin-bottom: 0;

}


#thumbnails {
  padding: .5em;
  display: flex;
  justify-content: center;
}

p {
  max-width: 75%;
  align-self: center;
  text-align: center;
  padding-bottom: 1em;
  
}

#form {
  display: inline-flex;
  flex-wrap: nowrap;
  max-width: 85%;
  justify-content: right;
  justify-self: center;
  align-self: center;
  
}




.form-button {
  display: flex;
  justify-self: center;
  padding: .5em;
  align-self: center;
  justify-self: center;
}

header {
  margin: 0px;
  
} 

/* Desktop */
@media screen and (min-width: 500px) {
#content {
  display: flex;
  flex-flow: wrap;
  align-content: space-around;
  justify-content: space-evenly
}

p {
  max-width: 40%;
}

#form {
  min-width: 50%;
  font-weight: bold;
}


#socails {
  align-self: flex-end;

}

}