* {
  border: #da4167ff solid 1px;
}

html {
  height: 100%;
  font-size: 2vw;
}

body {
  background-color: #2E4057;
  font-family: montserrat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  color: #fdfffcff;
  font-size: 16;
  }

nav {
  background-color: #c191a1ff;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 1.75em;
  flex-basis: 2em;
  position: fixed;
  top: 1px;
  width: 100%;

}

#link a {
  color: #fdfffcff;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  font-weight: bold;
  color: #da4167ff;
}

h1 {
  font-family: pacifico; 
  color: #fdfffcff;
  text-align: center;
  font-size: 3em;

}

h2 {
  font-family: pacifico; 
  color: #fdfffcff;
  text-align: center;
  font-size: 2em;
  margin: 1em;
  padding: 0;

}

h3 {
  font-weight: normal;
  color: #c191a1ff;
  text-align: center;
  font-size: 1.5em;
}


a {
color: #fdfffcff;
text-decoration: none;
font-weight: bold;
font-size: 1em;

}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

img {
  width: 95%;
  justify-self: center;  
}

#my-photo {
    width: 75%;
    border-radius: 50px;
    
  }
  


/* Desktop */
/* @media screen and (min-width: 500px) {

    .wrapper {
        display: flex;
        flex-flow: row-reverse wrap;
        align-self: flex-start;
        justify-self: flex-start;
    }

    #my-photo {
        width: 30%;
    }

    img {
        width: 30%;
        border-radius: 50px;
        float: right;
        
      } 

    p {
        float: left;
    }

    #programmer {
        width: 80%;
    }
    


} */