* {
  border: #da4167ff solid 1px;
}

html {
  height: 100%;
  font-size: 2vw;
}

body {
  background-color: #2E4057;
  font-family: montserrat;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 99%;
  min-height: 98%;
  max-height: 98%;
  font-size: 16;
  }

nav {
  background-color: #c191a1ff;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 1.75em;
  flex-basis: 2em;
  position: fixed;
  top: 1px;
  width: 100%;

}

#link a {
  color: #fdfffcff;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  font-weight: bold;
  color: #da4167ff;
}

#name {
  font-family: pacifico; 
  display: flex;
  flex-direction: column;
  align-content: center;
  position: relative;

}

h1 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: pacifico; 
  color: #fdfffcff;
  text-align: center;
  font-size: 10vw;
  line-height: 12vw;
}

a {
color: #fdfffcff;
text-decoration: none;
font-weight: bold;
font-size: 1em;

}


footer {
  background-color: #639fabff;
  flex-basis: 2em;
  font-size: 1em;
  color:#2E4057;
  font-style: italic;
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 1px;



}


img {
  max-width: 35%;
}


@media screen and (max-width: 500px) {
  h1 {
    font-size: 12vw;
  }

  nav {
    font-size: 2em;
  }
}




