* {
    border: #da4167ff solid 1px;
  }
  
  html {
    height: 95%;
    font-size: 1vw;
  }

  body {
    background-color: #2E4057;
    font-family: montserrat;
    display: flex;
    min-height: 100%;
    max-height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-start;
    padding: 0;
  
  
  }

  nav {
    background-color: #c191a1ff;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    font-size: 1.75em;
    flex-basis: 2em;
    align-content: space-around;
    align-items: center;
  }

  #link a {
    color: #fdfffcff;
    text-decoration: none;
    font-weight: bold;
  }

  a:hover {
    font-weight: bold;
    color: #da4167ff;
  }

  .content {
    font-size: 1.5em;
    color: #fdfffcff;
    padding: 3em;
    display: inline-flex;
    
    }

  h1 {
    font-family: pacifico; 
    color: #fdfffcff;
    text-align: center;
    font-size: 3em;
  }

  h3 {
    font-weight: normal;
    color: #c191a1ff;
    text-align: center;
    font-size: 1.5em;
  }


 a {
  color: #fdfffcff;
  text-decoration: none;
  font-weight: bold;
  font-size: 1em;

}


  footer {
    background-color: #639fabff;
    flex-basis: 2em;
    font-size: 1em;
    color:#2E4057;
    font-style: italic;
    text-align: center;
    align-self: stretch;

  }

  /* wrapper */
  #content {
    column-count: 2;
    column-gap: 3em;
  }

  P {
    max-width: 40%;
    padding-left: 2em;
    color:#fdfffcff;

  }
/* 
  #fit-picture {
    max-width: 35;
    /* float: ;
    column-span: 1; */

      


  @media screen and (max-width: 50em) {
    html {
      font-size: 2vw;
    }
  }


  @media  (min-width: 2000px) {
    html {
      font-size: 1vw;
    }
  }



