* {
  border: #da4167ff solid 1px;
}

html {
  height: 100%;
  font-size: 2vw;
}

body {
  background-color: #2E4057;
  font-family: montserrat;
  color: #fdfffcff;
  }

nav {
  background-color: #c191a1ff;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 1.75em;
  flex-basis: 2em;
  position: fixed;
  top: 1px;
  width: 100%;

}

#link a {
  color: #fdfffcff;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  font-weight: bold;
  color: #da4167ff;
}

h1 {
  font-family: pacifico; 
  color: #fdfffcff;
  text-align: center;
  font-size: 3em;
  padding-bottom: 0;
  margin-bottom: 0;

}

h2 {
  font-family: pacifico; 
  color: #fdfffcff;
  text-align: center;
  font-size: 2em;

}

h3 {
  font-weight: normal;
  font-family: pacifico; 
  color: #c191a1ff;
  text-align: center;
  font-size: 1.5em;
  padding: 0;
  margin-top: 1em;
}


a {
color: #fdfffcff;
text-decoration: none;
font-weight: bold;
font-size: 1em;

}

img {
  max-width: 35%;
}

.wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
}

.card {
  display: flex;
  flex-flow: row;
}

.card:nth-child(even) {
  display: flex;
  flex-flow: row-reverse;
}



@media screen and (max-width: 650px) {
.card {
    display: felx;
    flex-direction: column;
    text-align: center;
  } 

.card:nth-child(even) {
  display:felx;
  flex-direction: column;
}

img {
  max-width: 70%;
  align-self: center;
}



}

