* {
    border: #da4167ff solid 1px;
  }

Body { 
    background-color: lightgray;

}

Nav {
    background-color: #c191a1ff;
    display: flex;
    justify-content: space-around;
}

#grid-wrap {
    display: grid;
    grid-template-columns: 4fr 2fr 3fr;
    grid-gap: 1em;
    /* grid-template-rows: auto;
    grid-template-areas: 
      "header header header header"
      "main main . sidebar"
      "footer footer footer footer"; */
    }
/* 
.box1 {
    grid-area: header;
}

.box2 {
    grid-area: main;
}

.box6 {
    grid-area: sidebar;
}

.box9 {
    grid-area: footer;
} */

.box {
    background-color: grey;
}

